<div>
  <app-new (add)="handleAdd($event)"></app-new>

  <div class="form-group header">
    <span>
      Bought items?
      <input type="checkbox" [(ngModel)]="showBoughtItems">
    </span>

    <span>
      Estimated Total: {{ currentTotalToSpend | currency:'':'' }}
    </span>
  </div>

  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of list">
      <button *ngIf="isExpanded(item.id)" class="icon fa fa-trash" (click)="removeItem(item)"></button>
      <button *ngIf="isExpanded(item.id)" class="icon edit fa fa-edit" (click)="openEditModal(item)"></button>
      <button type="button" class="toggle" (click)="toggle(item.id)">
        {{ item.description }}
        <span [ngClass]="isExpanded(item.id) ? 'd-none d-md-inline' : ''">| {{ item.price | currency:'':'' }} | {{ item.quantity }}</span>
      </button>
      <span class="right">
        Found?
        <input type="checkbox" [checked]="item.bought" (click)="mark(item)">
      </span>
    </button>
  </div>

  <app-modal title="Edit" primaryButtonText="Save" (primaryButtonClick)="handleEditItem()">
    <app-edit [item]="itemSelected" (edit)="handleEdit($event)"></app-edit>
  </app-modal>
</div>