.list-group-item {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.toggle {
  text-align: left;
  flex-grow: 1;
  padding: 0;
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}

.icon {
  background: none;
  border: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
}

.edit {
  margin-top: 2px;
}
