<form [formGroup]="formGroup" (submit)="handleAdd()">
  <div class="row form-group">
    <div class="col-sm-12 col-md-6 first-fields">
      <div class="input-group">
        <div class="description icon-addon icon-alert">
          <input type="text" class="form-control" placeholder="Description" aria-label="Description" name="description" formControlName="description"
            [class.is-invalid]="!formGroup.description.isValid" required>
          <label *ngIf="!formGroup.description.isValid" for="description" class="fa fa-shopping-cart" rel="tooltip" title="Description"></label>
        </div>
        <div class="input-group-append icon-addon icon-alert">
          <input type="number" class="form-control append-field quantity" placeholder="Quantity" aria-label="Quantity" name="quantity"
            formControlName="quantity" [class.is-invalid]="!formGroup.quantity.isValid">
          <label *ngIf="!formGroup.quantity.isValid" for="quantity" class="fa fa-shopping-cart" rel="tooltip" title="Quantity"></label>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" class="form-control" placeholder="Price" aria-label="Price" name="price" formControlName="price" [class.is-invalid]="!formGroup.price.isValid">
        <div class="input-group-append">
          <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary append-field">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!formGroup.valid" class="row col-sm-12 errors">
    <span *ngFor="let error of formGroup.errorsMessage">
      {{ '* ' + error }}
    </span>
  </div>
</form>