<form>
  <div class="row form-group">
    <div class="col-sm-12 col-md-6 first-fields">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Description" aria-label="Description" [(ngModel)]="wish.description"
          name="description" required>
        <div class="input-group-append">
          <input type="number" class="form-control append-field quantity" placeholder="Quantity" aria-label="Quantity" [(ngModel)]="wish.quantity"
            name="quantity">
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" class="form-control" placeholder="Price" aria-label="Price" [(ngModel)]="wish.price" name="price">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary append-field" (click)="handleAdd()">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>