<form>
  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Name" aria-label="Name" [(ngModel)]="wish.name" name="name">
    </div>

    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" class="form-control" placeholder="Price" aria-label="Price" [(ngModel)]="wish.price" name="price">
      </div>
    </div>

    <div class="col-md-1">
      <button type="submit" class="btn btn-primary float-right" (click)="add()">Submit</button>
    </div>
  </div>
</form>