.right {
  display: flex;
  align-items: center;
  float: right;
}

.right input {
  margin-left: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.remove {
  background: none;
  border: none;
  padding: 0;
  padding-right: 5px;
}