<app-agreement *ngIf="!userAgreed"></app-agreement>
<div *ngIf="userAgreed">
  <app-new></app-new>

  <div class="form-group header">
    <span>
      List already bought?
      <input type="checkbox" [(ngModel)]="showInactiveItem">
    </span>

    <span>
      Total products: {{ totalRecords }}
    </span>
  </div>

  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let wish of list">
      <button *ngIf="isExpanded(wish.id)" class="remove fa fa-trash" (click)="removeWish(wish)"></button>
      <button type="button" class="btn toggle" (click)="toggle(wish.id)">
        {{ wish.description }}
        <span [ngClass]="isExpanded(wish.id) ? 'd-none d-md-inline' : ''">| {{ wish.price | currency:'':'' }} | {{ wish.quantity }}</span>
      </button>
      <span class="right">
        Found?
        <input type="checkbox" [checked]="wish.bought" (click)="mark(wish)">
      </span>
    </button>
  </div>
</div>